[Unit]
Description=Kubernetes Scheduler Service
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
WorkingDirectory={{ kubernetes_home }}
EnvironmentFile={{ kubernetes_home }}/etc/kube-scheduler.conf
ExecStart={{ kubernetes_home }}/bin/kube-scheduler $KUBE_SCHEDULER_ARGS
Restart=on-failure
LimitNOFILE=200000


[Install]
WantedBy=multi-user.target

