[Unit]
Description=Kubernetes Controller Manager Service
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
WorkingDirectory={{ kubernetes_home }}
EnvironmentFile={{ kubernetes_home }}/etc/kube-controller-manager.conf
ExecStart={{ kubernetes_home }}/bin/kube-controller-manager $KUBE_CONTROLLER_MANAGER_ARGS
Restart=on-failure
LimitNOFILE=200000


[Install]
WantedBy=multi-user.target

