nodePort:
  enabled: true
k8sServiceHost: "{{ ansible_default_ipv4.address }}"
k8sServicePort: "6443"
kubeProxyReplacement: "true"
bpf:
  lbExternalClusterIP: true
operator:
  image:
    tag: "{{ cilium_version }}"
    repository: quay.io/cilium/operator
    useDigest: false
    suffix: ""
  replicas: 1
image:
  repository: quay.io/cilium/cilium
  tag: "{{ cilium_version }}"
  useDigest: false
ingressController:
    enabled: {{ true if ingress_controller == 'cilium' else false }}
    default: {{ true if ingress_controller == 'cilium' else false }}
    loadbalancerMode: shared
    service:
      type: NodePort
      # -- Configure a specific nodePort for insecure HTTP traffic on the shared LB service
      insecureNodePort: 30080
      # -- Configure a specific nodePort for secure HTTPS traffic on the shared LB service
      secureNodePort : 30443
envoy:
  enabled: {{ true if ingress_controller == 'cilium' else false }}