kind: ConfigMap
apiVersion: v1
metadata:
  name: kubernetes-services-endpoint
  namespace: tigera-operator
data:
  KUBERNETES_SERVICE_HOST: "{{ ansible_default_ipv4.address }}"
  KUBERNETES_SERVICE_PORT: "6443"